<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" />
  </head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{\DopeBlogzzzz/}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class = "increasedM" href="/">Home</a></li>
      <li><a class="increasedM" href="/blogs">All Blogs</a></li>
      <li><a class="increaseM" href="/newpost">New Post</a></li>
      <li><a class="increasedM" href="/myblog">My Posts</a></li>
      <li><a class="float increasedM" href="/logout">logout</a></li>
      <li><a class="float" href="/login">Login</a></li>



    </ul>
</div>
</nav>
 


   {% block content %}
   {% endblock %}

</body>
</html>
